*{
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      /* overflow-x: hidden; */
}

.maincontainer {
     /* width: 100vw; */
     height: 100vh;
      display: flex;
      flex-direction: column;
  }

    .songsContainer {
      display: flex;
      /* width: 100%; 
      height: 100%; */
      flex:1;
      overflow-x: hidden;
      gap: 15px;
    }
    
.nav{
  position: sticky;
  left: 0;
  top: 0;
}
.sidebarContainer {
  position: sticky;
  left: 0;
  top: 0px;
  width: 250px; 
}
    
.songs-box {
  width:auto ;
  margin-top: 20px;
}




