@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Anybody:ital,wght@0,100..900;1,100..900&family=Foldit:wght@100..900&family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Anybody:ital,wght@0,100..900;1,100..900&family=Foldit:wght@100..900&family=Londrina+Shadow&family=Russo+One&display=swap');
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
}

.container{
      display: flex;
      flex-direction: column;
      background: linear-gradient(110deg, #eb4559 50%, #f78259 50%);
      width: 100vw;
      height: 100vh;
}
.box11{
      display: flex;
     color: white;
     /* border: 2px solid green; */
     padding: 8px;
     width: 100%;
     align-items: center;
     height: 80px;
}

.box21{
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      padding-inline: 60px;
}

.headphone img{
      width: 600px;
      height: 350px;
}

.text{
      
      display: flex;
      flex-direction: column;
      gap: 8px;
      /* border: 5px solid green; */
      
}

.logo1{
      font-family: "Amarante", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 50px;
}

.music{
      font-family: "Russo One", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 60px; 
}

.mistake{
      font-family: "Russo One", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      margin-left: 80px;
      color: white;
}



/* CSS */
.button-31 {
      text-decoration: none;
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 245px;
  margin-left: 170px;
  margin-top: 10px;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}





