*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.content {
     
      display: flex;
     width: 100%;
     height: 100%;
      flex-wrap: wrap;
      gap: 22px;
      /* padding: 15px; */
      
}

.song-item{
      width: 230px;
      height: 300px;
      gap: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

.songimage{
      margin-bottom: 15px;
      width: 100%;
      height: 200px;
}

.fav{
      padding: 5px;
      display: flex;
      justify-content: space-between;
}
h6{
      font-size: 15px;
}
