
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      height: 100%;
      width: 100%;
}




/* Apply scrollbar styles to the whole document */
::-webkit-scrollbar {
      width: 20px; /* Set scrollbar width */
    }
    
    ::-webkit-scrollbar {
      width: 20px;
    }
    /* Target the scrollbar track (the area where the scrollbar moves) */
    ::-webkit-scrollbar-track {
      background-color: #2b099a; /* Set background color */
    }
    
    /* Target the scrollbar handle (the draggable part of the scrollbar) */
    ::-webkit-scrollbar-thumb {
      background-color: #f2040c; /* Set scrollbar handle color */
      border-radius: 10px; /* Rounded corners for scrollbar handle */
    }
    
    /* Optional: Set scrollbar handle hover style */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #0e4612;
    }
    
    /* Target the scrollbar corner (between vertical and horizontal scrollbars) */
    ::-webkit-scrollbar-corner {
      background-color: #29da35; /* Set background color */
    }
    
    /* Target the scrollbar track when scrollbar is in a "decrement" state */
    ::-webkit-scrollbar-track-piece:start {
      background-color: #04a7f3;
    }
    
    /* Target the scrollbar track when scrollbar is in an "increment" state */
    ::-webkit-scrollbar-track-piece:end {
      background-color: #e40b91;
    }
    
    